/* Styles for the main application container */
.app {
  text-align: center;
}

/* Styles for the application logo */
.app-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animation for the logo when reduced motion is not preferred */
@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

/* Styles for the application header */
.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff; /* Use hex code for white for consistency */
}

/* Styles for links within the application */
.app-link {
  color: #61dafb;
}

/* Keyframes for the logo spin animation */
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer base {
  .font-lato {
    font-family: 'Lato', sans-serif;
  }
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
}
